/*=========================================================================================*/
/*
Nombre archivo: estilos.css
Autor: Juan Ferrera Sala
Fecha: 10/04/2022
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
*{
    box-sizing:border-box;
    font-family: 'Overpass', sans-serif;
}
/*=========================================================================================*/
/*Body*/
/*=========================================================================================*/
body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: white; 
	line-height: 1.5em;
}
.header{
    background:rgb(50, 50, 50);
    display: flex;
    height: 12.5vh;
}
.contenedorEnlaces{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 95%;
}
/*=========================================================================================*/
/*Logo header*/
/*=========================================================================================*/
header .linkLogo{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logo-header{
	text-decoration: none;
    height: 3.5rem;
    width: 3.5rem;
    background-color:#f28500;
}
.logo-header:hover {
	color: #f28500;
}
/*=========================================================================================*/
/*Nav*/
/*=========================================================================================*/
.nav{
    margin-left: 3rem;
    border-left: 3px white solid;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
nav ul{
    margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
    margin-left: 2rem;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    display: block;
	padding: 0 10px;
	text-decoration: none;
    color: white;
    border-radius: 8px;
    align-items: center;
}
nav ul li a:hover {
    color: #f28500;
    font-weight: bold;
}
/*=========================================================================================*/
/*Boton*/
/*=========================================================================================*/

button{
    background: #f28500; /* color de fondo */
    color: #fff; /* color de fuente */
    border: 2px solid #f28500; /* tamaño y color de borde */
    padding: 0px;
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    
  }
  button:before, button:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #fff; /* color de fondo hover */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  button:after {
    left: 100%;
  }
  button:hover {
    color: #f28500; /* color de fuente hover */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  button:hover:before {
    left: 0;
  }
  button:hover:after {
    left: 50%;
  }


/*=========================================================================================*/
/*Boton contactar*/
/*=========================================================================================*/
.contenedorBotonContactar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/*** ESTILOS BOTÓN SLIDE CLOSE ***/
.botonContactar {
    
    height: 3rem;
    width: 15rem;

  }


/*=========================================================================================*/
/*Main*/
/*=========================================================================================*/
.contenedorImagen{
    background-image: url("../recursos/fondo.png");
    background-size: cover;
    height: 80.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenidoMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.logo-grande{
    margin-top: -15rem;
    width: 55rem;
    height: 30rem;
}
.textoDeReclamo{
    color: black;
}
.botonProductos{
    height: 3.5rem;
    width: 20rem;
    font-size: 20px;
    background-color: #f28500;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.precio {
    width: 100%;
    text-align: right;
    font-size: 30px;
}
/*=========================================================================================*/
/*Flecha Hacia Abajo */
/*=========================================================================================*/
.flechaHaciaAbajo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    height: 7vh;
}
/*=========================================================================================*/
/*Contenedores de los planes*/
/*=========================================================================================*/
.contenedorDeExplicacion{
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 22px;
}
.textoPrincipal{
    text-align: justify;
}
.contenedorTarjetasExplicacion{
    margin-top: 5rem;
    display: flex;
    justify-content:center;
}
.contenedorTarjetas{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    max-width: 40rem;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedorTarjetas:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.contenedorTarjetas2{
    margin-left: 5rem;
}
.containerTarjeta{
    padding: 2px 16px;
}

#contenedorTarjetas h4{
    font-size: 36px;
}

/*=========================================================================================*/
/*carrusel*/
/*=========================================================================================*/

* {box-sizing:border-box}
.carrusel{
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*=========================================================================================*/
/*contenedorQuienesSomos*/
/*=========================================================================================*/
.contenidoQuienesSomos{
    display: flex;
    flex-direction: row;
    padding: 10rem;
    width: 100%;
}

.textoQuienesSomos{

    width: 100%;
    font-size: 24px;
    line-height: 2rem;
    text-align: justify;
    margin-right: 5rem;
}

.imagenQuienesSomos{
    width: 28rem;
    height: 30rem;
}

/*=========================================================================================*/
/*contenedorNuestroObjetivo*/
/*=========================================================================================*/

.contenidoNuestroObjetivo{
    display: flex;
    flex-direction: row;
    padding: 8rem;
    width: 100%;
}

.imagenesAbajo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5rem;
}

.imagenLarga{
    width: 100%;
    height: 25rem;
}

.textoNuestroObjetivo{
    width: 100%;
    font-size: 24px;
    line-height: 2rem;
    text-align: justify;
}

.imagenNuestroObjetivo{
    width: 30rem;
    height: 40rem;
}

/*=========================================================================================*/
/*contenedorStandarPlan*/
/*=========================================================================================*/
.contenedorStandarPlan{
    margin-top: 2rem;
    background-image: url("../recursos/fondo2.png");
    background-size: cover;
    display: flex;
    height: 30rem;
}
.contenidoDeStandarPlan{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 5rem;
}
.tituloStandarPlan{
    font-size: 50px;
    color: white;
}
.subTituloStandarPlan{
    font-size: 22px;
    color: white;
}
/*=========================================================================================*/
/*footer*/
/*=========================================================================================*/
footer{
    background:rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    display:flex;
    justify-content: start;
    flex-basis: 80%;
    color: black;
}

footer .linkLogo{
    margin-left: 2rem;
    margin-top: 0.5rem;
}
.contenedorFooter{
    margin-left: 3rem;
    border-left: 3px black solid;
}
.nombreEmpresa{
    margin-left: 2rem;
}
